HE2csv.json
[{"id":"11bb7a26.5fd106","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"964c59b.ec508a8","type":"websocket in","z":"11bb7a26.5fd106","name":"","server":"","client":"9b0c46e6.c931b8","x":163.5,"y":100,"wires":[["c1f849a5.013a08"]]},{"id":"f5a9aed9.b3414","type":"file","z":"11bb7a26.5fd106","name":"","filename":"/tmp/hubitat_events.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":573.5,"y":280,"wires":[[]]},{"id":"c1f849a5.013a08","type":"function","z":"11bb7a26.5fd106","name":"Make Payload","func":"\nmsg.payload = \n    {\n    name: msg.name,\n    displayName: msg.displayName,\n    change_date: new Date(),\n    value: msg.value,\n    unit: msg.unit,\n    deviceId: msg.deviceId,\n    hubId: msg.hubId,\n    locationId: msg.locationId,\n    descriptionText: msg.descriptionText\n}\nreturn msg;","outputs":1,"noerr":0,"x":321.5,"y":171,"wires":[["7e1ea5e6.d22f3c"]]},{"id":"7e1ea5e6.d22f3c","type":"csv","z":"11bb7a26.5fd106","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":461.5,"y":220,"wires":[["f5a9aed9.b3414"]]},{"id":"9b0c46e6.c931b8","type":"websocket-client","z":"","path":"ws://192.168.10.169/eventsocket","tls":"","wholemsg":"true"}]
