HEeventsocketRelay.json
[{"id":"713040d8.27188","type":"tab","label":"Hubitat Eventsocket","disabled":false,"info":""},{"id":"19f81bda.cb6b34","type":"websocket in","z":"713040d8.27188","name":"Hubitat Event Socket Prod","server":"","client":"2dc2e126.6a7bae","x":158.16668701171875,"y":77,"wires":[["5e188523.8c103c"]]},{"id":"ab9e6326.ba339","type":"websocket out","z":"713040d8.27188","name":"Hubitat Event Socket Relay","server":"247d8711.bf8798","client":"","x":515,"y":364,"wires":[]},{"id":"edf1e497.b34a68","type":"change","z":"713040d8.27188","name":"Delete _session to make websocket relay work","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":216,"wires":[["ab9e6326.ba339"]]},{"id":"5e188523.8c103c","type":"function","z":"713040d8.27188","name":"Add Hub ID HE1","func":"msg.hubId = 'HE1'\nreturn msg;","outputs":1,"noerr":0,"x":389,"y":76,"wires":[["edf1e497.b34a68"]]},{"id":"62e87aeb.48c944","type":"websocket in","z":"713040d8.27188","name":"Hubitat Event Socket Dev","server":"","client":"9b0c46e6.c931b8","x":154,"y":157,"wires":[["ff337692.ddcc28"]]},{"id":"ff337692.ddcc28","type":"function","z":"713040d8.27188","name":"Add Hub ID HE2","func":"msg.hubId = 'HE2'\nreturn msg;","outputs":1,"noerr":0,"x":385,"y":156,"wires":[["edf1e497.b34a68"]]},{"id":"2dc2e126.6a7bae","type":"websocket-client","z":"","path":"ws://192.168.10.153/eventsocket","tls":"","wholemsg":"true"},{"id":"247d8711.bf8798","type":"websocket-listener","z":"","path":"/hubitat-eventsocket","wholemsg":"true"},{"id":"9b0c46e6.c931b8","type":"websocket-client","z":"","path":"ws://192.168.10.26/eventsocket","tls":"","wholemsg":"true"}]
